
.map-responsive {
    overflow: hidden;
    padding-bottom: 31%;
    position: relative;
    height: 0;
    margin-bottom: 1em;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

ul.camperdetails {
    font-size: 16px;
}

div#empty {
    display: none;
}

div.label {
    width: 3.6in;
    height: 2.89in;
    padding: .125in .3in 0;
    float: left;
    overflow: hidden;
}

div.preview div.surname {
    text-align: right;
    margin-bottom: .25in;
}

div.pronoun {
    text-align: right;
    font-size: 2em;
}

div.preview div.line1, div.preview div.line2, div.preview div.line3, div.preview div.line4, div.preview div.parent {
    font-size: 1.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

tr.family {
    font-size: 1.1em;
}

td.teditable:hover {
    background-color: lightgray;
    cursor: text;
}

.krub {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.indie {
    font-family: 'Indie Flower', Gadget, sans-serif;
}

.ftg {
    font-family: 'Fredericka the Great', Charcoal, sans-serif;
}

.quest {
    font-family: 'Mystery Quest', 'Lucida Grande', sans-serif;
}

.vibes {
    font-family: 'Great Vibes', Geneva, sans-serif;
}

.bangers {
    font-family: 'Bangers', Monaco, sans-serif;
}

tr.family {
    font-size: 1.2em;
}

.comic {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.input-group>.twitter-typeahead {
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group>.twitter-typeahead:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>.twitter-typeahead>.tt-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control.tt-input:focus {
    z-index: 3
}
#campersearch .tt-menu {
     max-height: 300px;
     overflow-y: auto;
 }
.tt-suggestion:hover {
    color: #fff;
    background-color: #5D6D7E;
}