
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2, h3, h4, div.panel-heading, table.table-responsive thead, a.header-brand-text {
    font-family: 'Roboto', sans-serif;
}

div.jumbotron {
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    color: white;
    margin-bottom: 0px;
    text-align: center;
}

div.jumbotron p {
}

div#jumpintoit {
    color: white;
    padding-top: 5rem;
    padding-bottom: 15rem !important;
}

ul.camperdetails {
    font-size: 16px;
}

div#empty {
    display: none;
}

.navbar {
    margin-bottom: 0px;
}

nav a.navbar-brand {
    padding: 0px 15px;
}

nav a.navbar-brand h4 {
    margin-top: 0px;
}

div.label {
    width: 3.6in;
    height: 2.89in;
    padding: .125in .3in 0;
    float: left;
    overflow: hidden;
}

div.preview div.surname {
    text-align: right;
    margin-bottom: .25in;
}

div.pronoun {
    text-align: right;
    font-size: 2em;
}

div.preview div.line1, div.preview div.line2, div.preview div.line3, div.preview div.line4, div.preview div.parent {
    font-size: 1.2em;
}

div#spacer0 {
    background-image: url("/images/spacer0.png");
}

div#spacer1 {
    background-image: url("/images/spacer1.jpg");
}

div#spacer2 {
    background-image: url("/images/spacer2.jpg");
}

.parallax {
    /* Set a specific height */
    height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#carousel-caption0 {
    top: 8%;
}

div#carousel-caption1 {
    left: 52%;
    right: 1%
}

div#carousel-caption2 {
    left: 5%;
    right: 60%;
    top: 25%;
    color: #000;
}


@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

tr.family {
    font-size: 1.1em;
}

td.teditable:hover {
    background-color: lightgray;
    cursor: text;
}

.opensans {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.indie {
    font-family: 'Indie Flower', Gadget, sans-serif;
}

.ftg {
    font-family: 'Fredericka the Great', Charcoal, sans-serif;
}

.quest {
    font-family: 'Mystery Quest', 'Lucida Grande', sans-serif;
}

.vibes {
    font-family: 'Great Vibes', Geneva, sans-serif;
}

.bangers {
    font-family: 'Bangers', Monaco, sans-serif;
}

tr.family {
    font-size: 1.2em;
}

.comic {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}